rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if true;
    }
    match /posts/{postId}/comments/{commentId} {
      allow read: if true;
      allow create, update, delete: if true;
    }
  }
}